.SkateBuilder {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "buttonControllers ."
    "sketch ."
    "camera-controller ."
    "zoom-controller .";

    justify-items: start;
}

.sketch {
    grid-area: sketch;
}

.buttonControllers {
    grid-area: buttonControllers;
    display: flex;
    width: 100%;
    justify-content: space-between;
}