.EditableText {
    display: flex;
    justify-content: center;
}

.EditableText input {
    width: 100%;
    max-width: 350px;
    text-align: center;
    outline: none;
    border: 0;
    border-bottom: 1px solid gray;
}