/* Controller Title */
.galleryTitle {
    padding: 10px 0 10px 0;
    background-color: lightgray;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 460px) {
    .galleryTitle {
        font-size: 3.5vw;
    }
}