.Footer {
    width: 100%;
    background-color: #f8f9fa;
    margin-top: 30px;
    padding: 25px 16px 25px 16px;
}

.Footer ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .Footer ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .Footer ul > li:not(:last-child)
    {
        margin-bottom: 15px;
    }
}