.SectionWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    justify-items: center;
    margin: 0 120px 30px 120px;
}

@media only screen and (max-width: 900px) {
    .SectionWrapper {
        margin: 0 70px 30px 70px;
    }
}
@media only screen and (max-width: 500px) {
    .SectionWrapper {
        margin: 0 30px 30px 30px;
    }
}